<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <title>HMCTS Task Management System</title>
</head>
<body>
    <main>
        <div class="title_section">
            <h1><%= task.title %></h1>
            <div class="tag">
                <%= task.task_status %>
            </div>
            <em><%= task.due.date %></em>
        </div>
        <hr>
        <div class="content_section">
        <p><%= task.description %></p>
        </div>
        <div class="task_options">
        <form action="/tasks/<%= task.task_id %>/next_status" method="post">
            <button class="btn" type="submit" <%  if (task.task_status == "Completed") { %>disabled<% }; %>><%=
                task.task_status == "Draft" ? "Publish" :
                "Mark as Done"
                %>
            </button>
        </form>
        <form action="/tasks/<%= task.task_id %>/delete" method="post">
            <button class="btn btn-delete" type="submit">Delete Task</button>
        </form>
        </div>
    </main>
</body>
</html>